/* 리셋 */
html,
body,
div,
span,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
address,
pre,
cite,
form,
fieldset,
input,
textarea,
select,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
abbr,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  vertical-align: baseline;
  outline: 0;
  word-break: keep-all;
  box-sizing: border-box;
}

body,
input,
select,
textarea,
button,
a {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  color: #333;
  font-weight: 400;
}

/* _:-ms-fullscreen, :root body, */
_:-ms-fullscreen,
:root input,
_:-ms-fullscreen,
:root select,
_:-ms-fullscreen,
:root textarea,
_:-ms-fullscreen,
:root button,
_:-ms-fullscreen,
:root a {
  transform: skew(-0.001deg);
}

input,
select,
textarea {
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: 0;
}

select::-ms-expand {
  display: none
}

fieldset,
li,
img {
  border: 0;
  vertical-align: top;
  outline: none;
}

ul,
ol,
li {
  list-style: none;
}

button {
  overflow: visible;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

button:-moz-focus-inner {
  padding: 0;
  border: 0;
}

address,
caption,
em {
  font-style: normal;
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  outline: none;
	color: black;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}



/* Encoding & Font */

/*-------------------------------------------------------------*/
